<!doctype html>
<html lang="en">
  <%- include('./partials/header'); %>
  <body>
    <%- include('./partials/navbar'); %>

    <div class="container mt-3 col-sm-5">
      <% if (messages.length > 0) {%>
        <div class="alert alert-info alert-dismissible fade show mt-3" role="alert">
          <%= messages %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% }%>
        
      <form action="/settings" method="post" enctype="multipart/form-data">

        <div class="mb-3">
          <label for="bio" class="form-label">Bio</label>
          <textarea class="form-control" id="bio" name="bio" aria-describedby="emailHelp"></textarea>
        </div>

        <div class="mb-3">
          <label for="formFile" class="form-label">Profile Picture</label>
          <input class="form-control" name = "avatar" type="file" id="formFile" accept="image/png, image/jpeg">
        </div>

        <button type="submit" class="btn btn-success">Submit</button>
      </form>
    </div>
    <%- include('./partials/footer'); %>

    
  </body>
</html>
